
* {
    font-family: 'Inconsolata', monospace;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.home {
    
    background-image:url("D:\\github\\JhyunJ1.github.io\\JhyunJ1.github.io\\images\\intro2.jpg");
    width:100%;
    height:900px;
    background-image:no-repeat;
    background-size: cover;

}

.header {
    display:flex;
    width: 1280px;
    margin:auto;
    background:rgba(247, 247, 247, 0.384);
    height: 76px;
}

.nav {
    display:flex;
}

.nav > li{

    margin-top: 5%;
    margin-left: 50%;
    font-size: xx-large;
    
}

